<template>
   <main>
      <section class="w-full">
        <div class="container mx-auto px-4 h-full" style="margin-top: 5%">
          <div class="flex content-center items-center justify-center">
            <div class="w-full lg:w-1/2 px-4">
                <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 rounded-lg border-0"
              >
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                  <div class="text-gray-900 text-center mb-3 font-bold">
                    <p class="text-2xl mt-3">
                      Создать пост
                    </p>
                  </div>
                  <form>
                    <div class="relative w-full mb-3">
                      <label
                        class="block uppercase text-gray-700 text-xs font-bold mb-2"
                        for="grid-password"
                        >Название</label
                      ><input
                        type="text"
                        class="focus:bg-white border-0 px-3 py-3 placeholder-gray-500 text-gray-700 bg-gray-200 rounded text-sm shadow focus:outline-none focus:ring w-full"
                        placeholder="Название"
                        v-model="title"
                        style="transition: all 0.15s ease 0s;"
                      />
                    </div>
                    <div class="relative w-full mb-3">
                        <label
                        class="block uppercase text-gray-700 text-xs font-bold mb-2"
                        for="grid-password"
                        >Фото</label
                        >
                        <input @change="fileChange" class="block w-full cursor-pointer bg-gray-50 border border-gray-300 text-gray-900 focus:outline-none focus:border-transparent text-sm rounded-lg" aria-describedby="user_avatar_help" id="user_avatar" type="file"> 
                    </div>
                    <div class="relative w-full mb-3">
                      <label
                        class="block uppercase text-gray-700 text-xs font-bold mb-2"
                        for="grid-password"
                        >Описание</label
                      >
                      <textarea
                        class="
                          form-control
                          block
                          w-full
                          px-3
                          py-1.5
                          text-base
                          font-normal
                          text-gray-700
                          bg-gray-200 bg-clip-padding
                          placeholder-gray-500
                          rounded
                          transition
                          ease-in-out
                          m-0
                          focus:text-gray-700 focus:bg-white focus:outline-none focus:ring focus:border-blue-600 focus:outline-none
                        "
                        id="exampleFormControlTextarea1"
                        rows="3"
                        v-model="desc"
                        placeholder="Описание"
                      ></textarea>
                    </div>
                    <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert" v-show="!success">
                        <span class="font-medium">{{error}}</span> 
                    </div>
                    <div class="text-center mt-6">
                      <button
                        class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                        type="button"
                        style="transition: all 0.15s ease 0s; background: #FFB357"
                        @click="createPost"
                      >
                        Создать пост
                      </button>
                      
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
</template>
<style scoped>
    footer {
        position: relative !important;
    }
</style>
<script>
import axios from 'axios'
import https from 'https';

export default {
  name: 'CreatePost',
  data() {
    return {
      title: '',
      desc: '',
      file: null,
      success: true,
      error: '',
    }
  },
  mounted() {
    //   console.log(localStorage.getItem('user_id'));
    if (!localStorage.getItem('user_id')) {
        window.location.href='/';
    }
  },
  methods: {
    fileChange(event) {
      this.file = event.target.files[0];
    },
    async createPost() {
        this.success = true;
        if (this.title == '' || this.desc == '') {
            this.error = "Не все поля заполнены!";
            this.success = false;
        } else {
            const instance = axios.create({
                httpsAgent: new https.Agent({  
                    rejectUnauthorized: false
                })
            }); 
            const formData = new FormData();
            formData.append('img', this.file, this.file.name)
            formData.append('title', this.title)
            formData.append('desc', this.desc)
            formData.append('user_id', localStorage.getItem('user_id'))
            await instance.post('https://api.studyteka.tk/posts/create', formData);
            window.location.href= '/posts';
        }
    }
  },
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>

