<template>
   <main>
      <section class="absolute w-full">
        <div class="container mx-auto px-4 h-full" style="margin-top: 10%">
          <div class="flex content-center items-center justify-center h-full">
            <div class="w-full lg:w-4/12 px-4">
              <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 rounded-lg border-0"
              >
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                  <div class="text-gray-900 text-center mb-3 font-bold">
                    <p class="text-2xl mt-3">
                      Войдите на сайт
                    </p>
                  </div>
                  <form>
                    <div class="relative w-full mb-3">
                      <label
                        class="block uppercase text-gray-700 text-xs font-bold mb-2"
                        for="grid-password"
                        >Email</label
                      ><input
                        type="email"
                        class="focus:bg-white border-0 px-3 py-3 placeholder-gray-500 text-gray-700 bg-gray-200  rounded text-sm shadow focus:outline-none focus:ring w-full"
                        placeholder="Email"
                        v-model="email"
                        style="transition: all 0.15s ease 0s;"
                      />
                    </div>
                    <div class="relative w-full mb-3">
                      <label
                        class="block uppercase text-gray-700 text-xs font-bold mb-2"
                        for="grid-password"
                        >Пароль</label
                      ><input
                        type="password"
                        class="focus:bg-white border-0 px-3 py-3 placeholder-gray-500 text-gray-700 bg-gray-200 rounded text-sm shadow focus:outline-none focus:ring w-full"
                        placeholder="Пароль"
                        v-model="password"
                        style="transition: all 0.15s ease 0s;"
                      />
                    </div>
                    <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert" v-show="!success">
                        <span class="font-medium">{{error}}</span> 
                    </div>
                    <div class="text-center mt-6">
                      <button
                        class="mt-3 bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                        type="button"
                        style="transition: all 0.15s ease 0s; background: #FFB357"
                        @click="login"
                      >
                        Войти
                      </button>
                      
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
</template>

<script>
import axios from 'axios'
import https from 'https';
export default {
  name: 'Login',
  data() {
    return {
      email: '',
      password: '',
      error: '',
      success: true,
    }
  },
  methods: {
    async login() {
      this.success = true;
      if (this.email == '' || this.password == '') {
        this.error= "Не все поля заполнены!";
        this.success = false;
        console.log(this.error, this.success);
      } else {
        const instance = axios.create({
            httpsAgent: new https.Agent({  
                rejectUnauthorized: false
            })
        }); 
        const response = await instance.post('https://api.studyteka.tk/login',{
          email: this.email,
          password: this.password,
        });
        console.log(response.data)
        if (response.data == -1 || response.data == -2) {
          this.error = "Неверный логин/пароль"
          this.success = false;
        } else if (response.data  > 0) {
          this.success = true;
          window.localStorage.setItem('user_id', response.data);
          window.location.href='/posts';
        } else {
          this.error = "Неверно введен e-mail";
          this.success = false;
        }
      }
    }
  },
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>

