<template>
   <main>
      <section class="w-full">
        <div class="container mx-auto px-4 h-full" style="margin-top: 5%">
          <div class="flex content-center items-center justify-center">
            <div class="w-full lg:w-1/2 px-4">
                <div v-for="(post,ind) in posts" :key="post.id" class="mb-5 flex-auto w-full bg-white rounded-lg shadow">
                    <div class="flex flex-row px-2 py-3 mx-3">
                        <div class="w-auto h-auto rounded-full cursor-pointer">
                            <img class="w-10 h-10 object-cover rounded-full shadow" :src="'https://api.studyteka.tk' + post.user.avatar">
                        </div>
                        <div class="mt-3 mb-2 ml-2 cursor-pointer">
                            <p class="align-middle uppercase text-gray-800" style="color: #005E7C; font-weight: 600; font-size: 12px">
                                {{post.user.name}}
                            </p>
                        </div>
                    </div>
                    <img class="w-full object-cover" style="max-height: 600px" :src="'https://api.studyteka.tk' + post.img">
                    <div class="mt-5 ml-5 pb-5 mr-5">
                        <p class="ml-5 mb-3 text-left w-2/3 leading-5 bold" style="color: #005E7C; font-weight:600; font-size: 18px;">
                            {{post.title}}
                        </p>
                        <p class="ml-5 text-left w-2/3 leading-4" style="color: #005E7C; font-size: 15px;">
                            {{post.desc}}
                        </p>
                        <div class="mt-6 mr-6">
                            <div v-for="(comment,ind2) in post.comments" :key="comment.id" class="mb-3 flex flex-row w-full rounded-lg shadow p-5">
                                <div class="w-auto h-auto rounded-full cursor-pointer">
                                    <img class="w-8 h-8 object-cover rounded-full shadow" :src="'https://api.studyteka.tk' + comment.user.avatar">
                                </div>
                                <div class="flex flex-col items-start ml-3">
                                    <p class="font-semibold text-sm align-left cursor-pointer" style="padding:0; margin:0; color: #005E7C">
                                        {{comment.user.name}}
                                    </p>
                                    <p class="text-xs" style="color: #005E7C">
                                        {{comment.text}}
                                    </p>
                                </div>
                                <div class="ml-auto relative bottom-5" v-if="comment.user.id == user.id">
                                  <button
                                    class=" mt-5 bg-red-600 text-white active:bg-gray-700 text-xs font-bold uppercase px-2 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                                    type="button"
                                    style="transition: all 0.15s ease 0s"
                                    @click="deleteComment(comment.id, ind, ind2)"
                                  >
                                  Удалить
                                  </button>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col items-start">
                          <input
                          type="text"
                          class="focus:bg-white border-0 px-3 py-3 placeholder-gray-500 text-gray-700 bg-gray-200 rounded text-sm shadow focus:outline-none focus:ring w-full"
                          placeholder="Ваш комментарий..."
                          v-model="comments[post.id]"
                          style="transition: all 0.15s ease 0s;"
                        />
                        <transition>
                          <button
                            v-show="comments[post.id]"
                            class="mt-5 bg-gray-900 text-white active:bg-gray-700 text-xs font-bold uppercase px-2 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                            type="button"
                            style="transition: all 0.15s ease 0s"
                            @click="leaveComment(post.id, ind)"
                          >
                            Оставить комментарий
                          </button>
                        </transition>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </section>
    </main>
</template>
<style scoped>
    footer {
        position: relative !important;
    }
</style>
<script>
import axios from 'axios'

export default {
  name: 'Posts',
  data() {
    return {
      email: '',
      password: '',
      error: '',
      success: true,
      posts: [],
      comments: {},
      user: {},
    }
  },
  mounted() {
    //   console.log(localStorage.getItem('user_id'));
    if (!localStorage.getItem('user_id')) {
        window.location.href='/';
    }
    let user = localStorage.getItem('user_id');
    console.log(user);
    axios.get('https://api.studyteka.tk/user/' + user).then((response) => {
      this.user = response.data
    })
    axios.get('https://api.studyteka.tk/posts/' + user).then((response) => {
        console.log(response.data);
        this.posts = response.data;
    });
  },
  methods: {
    async leaveComment(id,ind) {
      let user = localStorage.getItem('user_id');
      let post_id = id;
      const response = await axios.post("https://api.studyteka.tk/posts/" + post_id +"/comment", {
        'user_id': user,
        'text': this.comments[post_id],
      })
      this.posts[ind].comments.push({
        'user' : this.user,
        'text': this.comments[post_id]
      })
      console.log(response,ind);
    },
    async deleteComment(id, ind,ind2) {
      const response = await axios.post("https://api.studyteka.tk/comments/" + id);
      console.log(response);
      this.posts[ind].comments.splice(ind2,1);
    }
  },
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>

