<template>
  <Navbar v-if="this.$route.name == 'reg' || this.$route.name == 'log'"/>
  <navbar-main v-if="this.$route.name !='reg' && this.$route.name != 'log'"/>
  <router-view></router-view>
  <Footer/>
</template>

<script>
import Footer from './components/Footer.vue'
import Navbar from './components/Navbar.vue'
import NavbarMain from './components/NavbarMain.vue'

export default {
  name: 'App',
  components: {
    Navbar,
    Footer,
    NavbarMain
  },
  mounted() {
    
  },
  computed: {
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
